<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- <ion-content > -->
  <!-- <div id="container">
  </div> -->
  <google-maps apiKey="AIzaSyDWAgQg3OPOCP_ttVefUh29wS75w0jHAGk" (mapReady)="onMapReady()"></google-maps>
</ion-content>
